* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 8px 12px;
}

h2 {
  color: #7f7f7f;
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  color: #7f7f7f;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

.cell {
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 800px;
  margin: auto;
}

.occupation {
  padding: 3px;
  margin: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
}

*[class^='title'] {
  font-weight: 600;
}

.occupation-organization {
  font-size: 1.1rem;
  padding-left: 0px;
  margin-left: 0px;
}

*[class^='description'] {
  font-size: 0.9rem;
  color: #616161;
}

.occupation-skills {
  font-size: 0.9rem;
  font-weight: 300;
  padding: 3px;
  margin: 3px;
}

.occupation-skills::after {
  content: ' \2022 ';
}

.occupation-skill-tag:first-child {
  padding-left: 0px;
}

.occupation-skill-tag:last-child {
  padding-right: 0px;
}

.occupation-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.occupation-location {
  font-weight: 600;
}

.occupation-timeline {
  font-size: 0.9rem;
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: center;
}

.skill-item {
  height: 34px;
  padding: 12px 16px;
  margin: 5px 3px;
  font-size: 1rem;
  color: #424242;
  background-color: #f5f5f5;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.skill-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.bullet {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: black;
  display: inline-block;
}
