* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 12px;
}

section {
  width: 100%;
  max-width: 800px;
  padding: 8px 5vmin;
}

h2 {
  color: #7f7f7f;
  font-size: 2rem;
  font-weight: 300;
}

h3 {
  color: #7f7f7f;
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 400;
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
}

button {
  font-size: 0.9rem;
  padding:12px 8px;
  border:none;
  outline:none;
  border-radius:6px;
}

.cell {
  padding: 3px;
  flex:7;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 800px;
  margin: auto;
}

.row-container {
  margin: 1vmin 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5vmin 2vmin 0.5vmin 0.5vmin;
}

.thumbnail img {
  width: 5vmin;
  min-width: 40px;
  max-width: 54px;
  flex: none;
  border-radius: 4px;
}

.content {
  flex:1;
  display:flex;
  flex-direction:column;
}

.title {
  font-weight: 600;
}

.subtitle {
  font-size: 1.1rem;
  padding:2px 0px;
}

.description {
  font-size: 0.95rem;
  font-weight: 400;
  color: #616161;
  padding: 3px;
  margin: 3px;
  list-style-type: none;
}

.description li {
  padding: 3px;
}

.detail {
  flex:'none';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 12px;
}

.location {
  font-weight: 600;
}
.timeline {
  font-size: 0.9rem;
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
}

.skill-item {
  height: 34px;
  padding: 12px 16px;
  margin: 5px 3px;
  font-size: 1rem;
  color: #424242;
  background-color: #f5f5f5;
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.skill-item-count {
  font-size: 13px;
  margin-left: 8px;
  font-weight: 600;
  text-align: center;
}
